<header class="app-header">
  <div class="container">
    <ul>
      <li><h1 class="logo"><strong>Rx</strong> Workshop</h1></li>
      <li>Instructor: <br><em>Ben Lesh</em></li>
      <li>Locations: <br><em>Silicon Valley</em> & <em>Online</em></li>
      <li>
        {{scroll-to href='#available-workshops' label='Register' class='button'}}
      </li>
    </ul>
  </div>
</header>

{{outlet}}

<div class="app-contact container">
  <div class="contact row">
    {{ember-chimp
        label="Subscribe and stay up to date on the latest RxJS news."
        classNames="subscribe-form col-md-7"
        formAction="//embersherpa.us12.list-manage.com/subscribe/post?u=81e8e3fa2a6f79fe97467029a&amp;id=3e4c4e8e8f"
        buttonText="Subscribe"
        placeholder="Your email"
    }}

    <aside class="col-md-4 push-md-1 email-us">
      Have questions? We're here for you. <br>
      <a href="mailto:hi@rxworkshop.com">hi@rxworkshop.com</a>
    </aside>
  </div>
</div>

<footer class="app-footer">
  <div class="container">
    <div class="row">
      <div class="push-md-3 col-md-9">
        <h2 class="this-dot">
          <a href="https://thisdot.co" class="thisdot-contrast">
            This Dot
          </a>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3  logo-column">
        <a href="https://thisdot.co/media" class="thisdot-media">
          Media
        </a>
      </div>
      <div class="col-md-9">
        <p>
          We host events, produce videos and write articles that help
          developers keep up with the evolution of the web platform.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 logo-column">
        <a href="https://thisdot.co/labs" class="thisdot-labs">
          Labs
        </a>
      </div>
      <div class="col-md-9">
        <p>
          We provide web platform expertice to teams through mentoring, training
          and apprenticeship services. Our mentors are makers of modern web
          frameworks like React, Angular and Polymer.
        </p>
      </div>
    </div>

    <div class="links row">
      <div class="col-md-9 push-md-3">
        <a href="https://thisdot.co/about">Team</a>
        <a href="https://thisdot.co/privacy-policy">Privacy Policy</a>
        <a href="https://thisdot.co/contact">Contact</a>
        <a href="https://thisdot.co/sponsors">Sponsors</a>
        <div class="social">
          <a href="https://twitter.com/thisdotmedia" target="_blank">
            <i class="icon twitter-icon">Twitter</i>
          </a>
          <a href="https://facebook.com/thisdot" target="_blank">
            <i class="icon fb-icon">Facebook</i>
          </a>
        </div>
      </div>
    </div>
    <div class="row legal">
      <div class="col-md-9 push-md-3">
        <p>
          &copy; {{moment-format (now) 'YYYY'}} This Dot, Inc. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>

{{intercom-io}}